mj-section(mj-class="bgWhite")
    mj-column(padding="15px")
        mj-image(padding="0" width="640px" src="images/ardoise.jpg" alt="")/
    mj-column
        mj-text Menu ardoise
        mj-table
            tr
                td
                    p Menu "Je suis attendu..."
                    p Entrée + Plat ou Plat + Dessert
                td
                    p 17.00 €
            tr
                td
                    p Menu "J'ai rendez-vous..."
                    p Entrée + Plat + Dessert 
                td
                    p 20.00 €