mj-section( mj-class="bgMarron" padding="10px 20px")
    mj-column
        mj-text(padding="0" align="center" mj-class="T24 cTGreyWhite" font-weight="400") Notre étudiant de la semaine
mj-section
    mj-column
        mj-image(src="images/etudiantSemaine.png" alt="")/