mj-section(mj-class="bgMarron" padding="10px 20px")
    mj-column
        mj-text(padding="0" align="center" mj-class="T24 cTGreyWhite" font-weight="400") Notre étudiant de la semaine
mj-section(mj-class="bgMarron")
    mj-column(width="100%")
        mj-image(padding="0px" width="640px" src="images/Why.png" alt="")/
mj-section(padding="20px" background-color="#ffffff")
    mj-column(padding="10px" width="48%" background-color="#f5f4f1" border-radius="20px" vertical-align="bottom")
        mj-text(padding="0" align="center" padding-top="10px" font-size="16px" line-height="20px" font-weight="900" text-transform="uppercase") Simon jourde
        mj-text(padding="0" padding-top="10px" font-size="16px" line-height="20px" font-weight="400") Je m'appelle Simon, actuellement en première année de BTS restauration, option salle, à Ecosup. Je fais cette année en alternance, dans le restaurant de l'hôtel du Why à Lille.
        mj-text(padding="10px 0" font-size="16px" line-height="20px" font-weight="400") Pourquoi la restauration ? Car après avoir fait 2 ans de commerce à l'IAE, j'ai décidé de faire ce qui me permettrait le plus rapidement d'ouvrir mon propre restaurant.
    mj-column(width="4%")
        mj-spacer(height="20px") 
    mj-column(padding="10px" width="48%" background-color="#35302D" border-radius="20px")
        mj-text(padding="0" align="center" padding-top="10px" font-size="16px" line-height="20px" font-weight="900" text-transform="uppercase" color="#ffffff") Why
        mj-text(padding="0" padding-top="10px" font-size="16px" line-height="20px" font-weight="400" color="#ffffff") Le Why est un hôtel 4 étoiles en plein coeur de Lille, juste à côté de la place Rihour.
        mj-text(padding="0" padding-top="10px" font-size="16px" line-height="20px" font-weight="400" color="#ffffff") C'est un hôtel Best Western ce qui est gage d'une certaine qualité et d'un certain standing.
        mj-text(padding="10px 0" font-size="16px" line-height="20px" font-weight="400" color="#ffffff") Durant le petit déjeuner, vous retrouvez beaucoup de produits issues de producteurs locaux. Et les plats servis le midi et le soir sont entièrement fait maison et avec beaucoup de produits régionaux.
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="48%" padding="10px" background-color="#f5f4f1" border-radius="20px")
        mj-text(padding="0" align="center" padding-top="10px" font-size="16px" line-height="20px" font-weight="900" text-transform="uppercase") Expériences
        mj-text(padding="0") &#9679;&nbsp;Stage section juridique de l'agglomération de Lorient
        mj-text(padding="0") &#9679;&nbsp;Stage en agence immobilière à Arras
        mj-text(padding="0") &#9679;&nbsp;Serveur au restaurant du golf d'Arras
        mj-text(padding="0") &#9679;&nbsp;Ouvrier dans la rénovation intérieur de bâtiments
        mj-text(padding="0") &#9679;&nbsp;Serveur chez Morel et Fils à Lille
    mj-column(width="4%")
        mj-spacer(height="20px")
    mj-column(width="48%")
        mj-text Mes missions
        mj-text Assurer le petit déjeuner, le service du midi ou du soir
        mj-text Assurer la continuité du bar
        mj-text Donner aux clients l'envie de revenir
mj-section
    mj-column
        mj-text Loisirs
        mj-text Voyager
        mj-text Natation
        mj-text Écouter de la musique
        mj-text Skier
        mj-text Voir mes amis