mj-section
    mj-column
        mj-text Carte de l'Expérientiel
mj-section
    mj-column
        mj-image(src="images/plat1.jpg" alt="")/
    mj-column
        mj-table
            tr
                td
                    p Pour débuter
            tr
                td
                    p Bouchée vapeur sauce Thaï
                td
                    p 10.50 €
            tr
                td
                    p Paupiette de veau façon cordon bleu
                td
                    p 10.00 €
            tr
                td
                    p Velouté Ajo Bianco
                td
                    p 9.50 €
mj-section
    mj-column
        mj-image(src="images/plat2.jpg" alt="")/
    mj-column
        mj-table
            tr
                td
                    p Pour Suivre
            tr
                td
                    p tartare de boeuf au couteau, haricots verts en tempura
                td
                    p 15.00 €
            tr
                td
                    p Filet mignon basse température, sauce Maroilles, polenta croustillante
                td
                    p 14.50 €
            tr
                td
                    p Sébaste rôti au beurre, bisque de crustacés, siphon de pomme de terre
                td
                    p 14.00 €
mj-section
    mj-column
        mj-image(src="images/plat3.png" alt="")/
    mj-column
        mj-table
            tr
                td
                    p Pour terminer
            tr  
                td
                    p Assiette Gourmande
                td
                    p 7.00 €
            tr
                td
                    p Coupe de glaces et sorbets
                td
                    p 5.00 €
            tr
                td
                    p Café ou thé gourmand
                td
                    p 9.50 €
            tr
                td
                    p Tiramisu au spéculoos
                td
                    p 7.00 €
            tr
                td
                    p Crème renversée au caramel
                td
                    p 6.00 €