mj-section
    mj-column
        mj-button Réservez une table
        mj-button En savoir plus sur Ecosup Hôtellerie
mj-section
    mj-column
        mj-text 17 place Charles et Albert Roussel
        mj-text 59200 Tourcoing
        mj-text 03 20 70 06 06
        mj-text restaurant@ecosup-hotellerie.fr
    mj-column
        mj-social(mode="horizontal")
            mj-social-element(src="images/facebook.png" alt="")
            mj-social-element(src="images/instagram.png" alt="")
mj-section
    mj-column
        mj-text Cet e-mail a été envoyé à (email). Vous avez reçu cet email car vous vous êtes inscrit sur Ecosup Campus
        mj-text se desinscrire
        mj-text @2025 Ecosup Campus