mj-section(mj-class="bgWhite")
    mj-column
        mj-button(mj-class="T18 cTMarron bgWhite" font-weight="400" border="4px solid #7A5231" border-radius="15px") Réservez une table
        mj-button(mj-class="T18 cTMarron bgWhite" font-weight="400" border="2px solid #7A5231" border-radius="15px") En savoir plus sur Ecosup Hôtellerie
mj-section(mj-class="bgMarron" padding="20px")
    mj-column
        mj-text(padding="0" mj-class="T14 cTWhite" font-weight="400") 17 place Charles et Albert Roussel
        mj-text(padding="0" mj-class="T14 cTWhite" font-weight="400") 59200 Tourcoing
        mj-text(padding="0" mj-class="T14 cTWhite" font-weight="400") 03 20 70 06 06
        mj-text(padding="0" mj-class="T14 cTWhite" font-weight="400") restaurant@ecosup-hotellerie.fr
    mj-column
        mj-social(icon-size="32px" mode="horizontal")
            mj-social-element(src="images/facebook.png" alt="")
            mj-social-element(src="images/instagram.png" alt="")
mj-section(padding="10px 15px")
    mj-column
        mj-text(padding="0" align="center" mj-class="T14" color="#888888") Cet e-mail a été envoyé à #[a(style="color:#1155cc" href="#") philippe.ecosup@gmail.com]. Vous avez reçu cet email car vous vous êtes inscrit sur Ecosup Campus
        mj-text(padding="0" padding-top="30px" align="center" mj-class="T14" color="#666666") #[a(style="color:#666666;" href="#") se desinscrire]
        mj-text(padding="0" padding-top='10px' align="center" mj-class="T14" color="#888888") @2025 Ecosup Campus