mj-section
    mj-column
        mj-image(src="images/ecosupBlanc.png" alt="")/
        mj-image(src="images/nomRestaurant.png" alt="")/
        mj-text Newsletter n° 148
    mj-column
        mj-image(src="images/salleRestaurant.jpg" alt="")/