mj-section(mj-class="bgMarron" padding="10px 20px")
    mj-column
        mj-text(padding="0" align="center" mj-class="T24 cTGreyWhite" font-weight="400") Carte Sur le Pouce
mj-section
    mj-column
        mj-table(padding="0" font-family="Arial, Helvetica, sans-serif")
            tr
                td(style="padding-bottom:10px")
                    p(style="padding:0;margin:0") Un P'tit Creux
            tr
                td(width="70%" style="padding-bottom:18px;padding-right:10px") 
                    p(style="padding:0;margin:0;") Plat du jour
                td(width="30%" style="padding-bottom:18px;vertical-align:top;") 
                    p(style="padding:0;margin:0;") 12.00 €
            tr
                td(width="70%" style="padding-bottom:18px;padding-right:10px;")
                    p(style="padding:0;margin:0;") Bouddha bowl
                td(width="30%" style="padding-bottom:18px;vertical-align:top;")
                    p(style="padding:0;margin:0;") 13.00 €
            tr
                td(width="70%" style="padding-bottom:18px;padding-right:10px;")
                    p(style="padding:0;margin:0") Burger végé
                td(width="30%" style="padding-bottom:18px;vertical-align:top;")
                    p(style="padding:0;margin:0") 13.00 €
            tr
                td(width="70%" style="padding-bottom:18px;padding-right:10px;")
                    p(style="padding:0;margin:0;") Tagliatelles bolognaise
                td(width="30%" style="padding-bottom:18px;vertical-align:top;")
                    p(style="padding:0;margin:0;") 12.50 €
mj-section
    mj-column
        mj-text Un P'tit plaisir sucré
        mj-table
            tr
                td
                    p Dessert du jour
                td
                    p 6.00 €
            tr
                td
                    p Salade de fruits
                td
                    p 4.50 €
            tr
                td
                    p Café gourmand
                td
                    p 9.00 €
            tr
                td
                    p Assiette gourmande
                td
                    p 6.50 €