mj-section
    mj-column
        mj-text Carte Sur le Pouce
mj-section
    mj-column
        mj-text Un P'tit Creux
        mj-table
            tr
                td 
                    p Plat du jour
                td
                    p 12.00 €
            tr
                td
                    p Bouddha bowl
                td
                    p 13.00 €
            tr
                td
                    p Burger végé
                td
                    p 13.00 €
            tr
                td
                    p Tagliatelles bolognaise
                td
                    p 12.50 €
mj-section
    mj-column
        mj-text Un P'tit plaisir sucré
        mj-table
            tr
                td
                    p Dessert du jour
                td
                    p 6.00 €
            tr
                td
                    p Salade de fruits
                td
                    p 4.50 €
            tr
                td
                    p Café gourmand
                td
                    p 9.00 €
            tr
                td
                    p Assiette gourmande
                td
                    p 6.50 €