mj-section(padding="20px" background-color="#ffffff")
    mj-column
        mj-button(padding="0" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="16px" line-height="20px" font-weight="700" color="#ffffff" background-color="#B59F6B" border-radius="4px" text-transform="uppercase") En savoir plus sur Ecosup Hôtellerie
mj-section(padding="20px 25px" background-color="#7A5231")
    mj-column
        mj-text(padding="0" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="14px" line-height="18px" font-weight="400" color="#ffffff" css-class="textfooter") 17 place Charles et Albert Roussel
        mj-text(padding="0" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="14px" line-height="18px" font-weight="400" color="#ffffff" css-class="textfooter") 59200 Tourcoing
        mj-text(padding="0" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="14px" line-height="18px" font-weight="400" color="#ffffff" css-class="textfooter") 03 20 70 06 06
        mj-text(padding="0" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="14px" line-height="18px" font-weight="400" color="#ffffff") restaurant@ecosup-hotellerie.fr
    mj-column
        mj-social(padding="0" vertical-align="top" align="right" icon-size="32px" mode="horizontal")
            mj-social-element(src="images/facebook.png" alt="")
            mj-social-element(src="images/instagram.png" alt="")
mj-section(padding="10px 15px")
    mj-column
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="14px" line-height="18px" font-weight="400" color="#888888") Cet e-mail a été envoyé à #[a(style="color:#1155cc" href="#") philippe.ecosup@gmail.com]. Vous avez reçu cet email car vous êtes inscrit sur Ecosup Hôtellerie
        mj-text(padding="0" padding-top="30px" align="center" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="14px" line-height="18px" font-weight="400" color="#666666") #[a(style="color:#666666;" href="#") se desinscrire]
        mj-text(padding="0" padding-top='10px' align="center" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="14px" line-height="18px" font-weight="400" color="#888888") @2025 Ecosup Campus