mj-wrapper(padding="20px 0" background-color="#ffffff")
    mj-section(padding="10px 0" background-color="#7A5231")
        mj-column(padding="8px")
            mj-image(padding="0" width="120px" src="images/ecosupBlanc.png" alt="")/
            mj-image(padding="15px 0" width="281px" src="images/nomRestaurant.png" alt="")/
            mj-text(padding="0" padding-top="15px" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="17px" line-height="21px" font-weight="900" color="#f9f8f8") Newsletter n° 148
        mj-column(padding="8px")
            mj-image(padding="0" border-radius="10px" width="281px" fluid-on-mobile="true" src="images/salleRestaurant.jpg" alt="")/