mj-section(mj-class="bgW" padding="50px 20px")
    mj-column
        mj-button(padding="0" font-family="Arial, Helvetica, sans-serif" font-size="16px" line-height="20px" color="#ffffff" background-color="#B59F6B" font-weight="700" border-radius="4px" text-transform="uppercase") En savoir plus sur Ecosup Hôtellerie
mj-section(mj-class="bgB" padding="40px 20px")
    mj-column
        mj-image(padding="0" width="160px" src="images/ecosupBlanc.png" alt="")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T12 fw0 cTW") 17 place Charles et Albert Roussel
        mj-text(padding="0" align="center" mj-class="T12 fw0 cTW") 59200 Tourcoing
        mj-text(padding="0" align="center" font-size="14px" font-style="normal" font-weight="900" line-height="20px" color="#ffffff") 03 20 70 06 06
        mj-text(padding="0" align="center" font-size="14px" font-style="normal" font-weight="400" line-height="20px" color="#ffffff") contact@restaurant-alumni.fr
        mj-spacer(height="10px")
        mj-social(padding="0" vertical-align="top" align="center" icon-size="32px" icon-padding="15px" mode="horizontal")
            mj-social-element(src="images/facebookNews.png" alt="")
            mj-social-element(src="images/instagramNews.png" alt="")
mj-section(padding="10px 30px")
    mj-column
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="12px" line-height="16px" font-weight="400" color="#888888") Cet e-mail a été envoyé à #[a(style="color:#1155cc" href="#") philippe.ecosup@gmail.com]. Vous avez reçu cet email car vous êtes inscrit sur Restaurant Alumni
        mj-text(padding="0" padding-top="20px" align="center" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="12px" line-height="16px" font-weight="400") #[a(style="color:#666666;" href="#") se desinscrire]
        mj-text(padding="0" padding-top='10px' align="center" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="10px" line-height="14px" font-weight="400" color="#888888") @2025 Restaurant Alumni