mj-section(mj-class="bgM" padding="10px 0")
    mj-column(padding="20px")
        mj-image(padding="0" width="120px" src="images/ecosupBlanc.png" alt="")/
        mj-image(padding="15px 0" width="281px" src="images/nomRestaurant.png" alt="")/
        mj-text(padding="0" padding-top="15px" mj-class="T17 fw1 cTGW") Newsletter n° 148
    mj-column(padding="20px")
        mj-image(padding="0" border-radius="10px" width="281px" fluid-on-mobile="true" src="images/salleRestaurant.jpg" alt="")/