mjml
    //- Head
    mj-head
        mj-title News Ecosup Hôtellerie
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
        mj-breakpoint(width="480px")
        mj-style(inline="inline").
            @media only screen and (max-width:480px) {
                .textfooter {
                    text-align: center !important;
                    text-align: -moz-center !important;
                    text-align: -webkit-center !important;
                    background-color: #000000 !important;
                }
            }

    //- Body
    mj-body(background-color='#f5f4f1' width="640px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/projet1/_header
        //- bloc menu l'Experientiel
        block experientiel
            include ../includes/projet1/_experientiel
        //- bloc Menu Ardoise
        block ardoise
            include ../includes/projet1/_ardoise
        //- bloc menu Sur le pouce
        block pouce
            include ../includes/projet1/_pouce
        //- bloc Le produit de la semaine
        block produit
            include ../includes/projet1/_produit
        //- bloc Notre étudiant de la semaine
        block etudiant
            include ../includes/projet1/_etudiant
        //- bloc footer
        block footer
            include ../includes/projet1/_footer