mjml
    //- Head
    mj-head
        mj-title News Ecosup Hôtellerie
        mj-font(name="Poppins" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='"Poppins", Arial, Helvetica, sans-serif')/
            mj-class(name='T21-700' font-family='"Poppins", Arial, Helvetica, sans-serif' font-style="normal" font-size='21px' line-height='26px' font-weight='700')/
            mj-class(name='T18-700' font-family='"Poppins", Arial, Helvetica, sans-serif' font-style="normal" font-size='18px' line-height='23px' font-weight='700')/
            mj-class(name='T16-400' font-family='"Poppins", Arial, Helvetica, sans-serif' font-style="normal" font-size='16px' line-height='22px' font-weight='400')/
            mj-class(name='T15-400' font-family='"Poppins", Arial, Helvetica, sans-serif' font-style="normal" font-size='15px' line-height='22px' font-weight='400')/
            mj-class(name='T14-700' font-family='"Poppins", Arial, Helvetica, sans-serif' font-style="normal" font-size='14px' line-height='16px' font-weight='700')/
            mj-class(name='T12-400' font-family='"Poppins", Arial, Helvetica, sans-serif' font-style="normal" font-size='12px' line-height='16px' font-weight='400')/
            mj-class(name='T13-400' font-family='"Poppins", Arial, Helvetica, sans-serif' font-style="normal" font-size='13px' line-height='18px' font-weight='400')/
            mj-class(name="cT1" color="#00263C")
            mj-class(name="bgT0" background-color="#000000")
            mj-class(name="cT0" color="#000000")/
            mj-class(name="cTW" color="#ffffff")/
            mj-class(name="bgW" background-color="#ffffff")/
            //- Colors
            mj-class(name="cO" color="#CC4E0A")/
            mj-class(name="bgO" background-color="#CC4E0A")/
            mj-class(name="bgBf" background-color="#00263C")
        mj-breakpoint(width="545px")
    //- Body
    mj-body(background-color='#f6f6f6' width="640px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/_header
        //- bloc menu l'Experientiel
        block experientiel
            include ../includes/_experientiel
        //- bloc Menu Ardoise
        block ardoise
            include ../includes/_ardoise
        //- bloc menu Sur le pouce
        block pouce
            include ../includes/_pouce
        //- bloc Le produit de la semaine
        block produit
            include ../includes/_produit
        //- bloc Notre étudiant de la semaine
        block etudiant
            include ../includes/_etudiant
        //- bloc footer
        block footer
            include ../includes/_footer