mjml
    //- Head
    mj-head
        mj-title News Ecosup Hôtellerie
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
            mj-class(name='T24' font-family='Arial, Helvetica, sans-serif' font-style="normal" font-size='24px' line-height='28px')/
            mj-class(name='T18' font-family='Arial, Helvetica, sans-serif' font-style="normal" font-size='18px' line-height='22px')/
            mj-class(name='T16' font-family='Arial, Helvetica, sans-serif' font-style="normal" font-size='16px' line-height='20px')/
            mj-class(name='T14' font-family='Arial, Helvetica, sans-serif' font-style="normal" font-size='14px' line-height='16px')/
            mj-class(name='T17' font-family='Arial, Helvetica, sans-serif' font-style="normal" font-size='17px' line-height='21px')/            mj-class(name='T13-400' font-family='Arial, Helvetica, sans-serif' font-style="normal" font-size='13px' line-height='18px' font-weight='400')/
            mj-class(name="cTWhite" color="#ffffff")/
            mj-class(name="bgWhite" background-color="#ffffff")/
            mj-class(name="cTGreyWhite" color="#f9f8f8")/
            mj-class(name="bgGreyWhite" background-color="#f9f8f8")/
            mj-class(name="cTGrey" color="#3B3F44")/
            mj-class(name="bgGrey" background-color="#3B3F44")/
            mj-class(name="cTBlack" color="#000000")/
            mj-class(name="bgBlack" background-color="#000000")/
            //- Colors
            mj-class(name="cTBeige" color="#AF7845")/
            mj-class(name="bgBeige" background-color="#AF7845")/
            mj-class(name="cTMarron" color="#7A5231")/
            mj-class(name="bgMarron" background-color="#7A5231")/
        mj-breakpoint(width="545px")
    //- Body
    mj-body(background-color='#f9fAfA' width="640px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/_header
        //- bloc menu l'Experientiel
        block experientiel
            include ../includes/_experientiel
        //- bloc Menu Ardoise
        block ardoise
            include ../includes/_ardoise
        //- bloc menu Sur le pouce
        block pouce
            include ../includes/_pouce
        //- bloc Le produit de la semaine
        block produit
            include ../includes/_produit
        //- bloc Notre étudiant de la semaine
        block etudiant
            include ../includes/_etudiant
        //- bloc footer
        block footer
            include ../includes/_footer